<h2>Suppliers</h2>

<table>
  <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>


  <% for supplier in @suppliers %>
  <tr>
    <td><a href="/suppliers/<%= supplier.id %>"><%= supplier.name %></a></td>
    <td><%= supplier.address %></td>
  </tr>

  <% end %>
  <a href="/suppliers/new">Add New</a>
  <tfoot>
  </tfoot>
</table>
