<h1>Add New Supplier</h1>

<form action="/suppliers" method="post">
  <label for = "name">
    Enter Book Title:
      <input type="text" name= "name" placeholder="Title of book" id="name"/>
  </label>
  <label for = "address">
    Address of Supplier:
      <input type="text" name= "address" placeholder="enter address" id="address"/>
  </label>

<input class="" type='submit' value="Add">
</form>
