<h2>Book List</h2>

<table>
  <thead>


  <tr>
    <th>Name</th>

    <th>Genre</th>

    <th>Description</th>
  </tr>
  </thead>


  <% for book in @books %>
  <tr>

    <td><a href="/books/<%= book.id %>"><%= book.name %></a></td>
    <td><%= book.genre %></td>
    <td><%= book.description %></td>


  </tr>
  <tfoot>

    </tfoot>


  <% end %>
<a href="/books/new">Add New</a>
</table>
