<h1>Add New Book</h1>

<form action="/books" method="post">
  <label for = "name">
    Enter Book Title:
      <input type="text" name= "name" placeholder="Title of book" id="name"/>
  </label>
  <label for = "description">
    Enter breif description:
      <input type="text" name= "description" placeholder="quick synopsis" id="description"/>
  </label>
  <label for = "genre">
    Genre of book:
      <input type="text" name= "genre" placeholder="Enter Genre" id="genre"/>
  </label>

<input class="" type='submit' value="Add">
</form>
