<h1><%= @book.name %> (book)</h1>

<p>Description: <%= @book.description %></p>

<h3>Published by:</h3>

<ul>
  <% @book.supplier.each do |supplier| %>
  <li><%= supplier.name %></li>
  <% end %>
</ul>



<
