

<h3>How to use the website:</h3>
<h4>To add a new book to inventory:</h4>
<p>First we add a book to our system by clicking the above book link and add new.</p>
<p>After filling in the required information press submit and check the item has been added to books list.</p>
<p>(The "check" can be achieved by click the the book link in the nav bar above.)</p>
<p>Now we add addition information regarding the item, we do so by naviagating to Stock>Add New</p>
<p>Here you fill out the form and take care to select the same book name as the name to enter and when ready press submit.</p>
<p>(This ensure we are tracking the correct stock item!)</p>
<p>The action is now complete, remember to take regular breaks before adding new items. </p>

<h4>To add a new supplier:</h4>
<p>We start by naviagating to the suppliers link in the navigation bar and then click the add new link.</p>
<p>After filling in the required information press submit and check the Supplier has been added to our list of suppliers.</p>
<p>(The "check" can be achieved by click the the Supplier link in the nav bar above.)</p>
