<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>

<header>
  <h1 class="y">Blackwells Inventory Management Application</h1>
</header>

  <nav>
    <ul>
      <li>
        <a href="/" class="active">Home</a>
      </li>
      <li>
        <a href="/stock">Stock</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>
      <li>
        <a href="/suppliers">Suppliers</a>
      </li>
    </ul>
  </nav>

  <body>

    <section id="content">
    <%= yield %>
    </section>

  </body>
  <footer>
  <p>Hosted by Naz Liton.<br>For help contact: 0131 216 3131.</p>
</footer>
</html>
