<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Welcome to Blackwells Inventory Management Softare</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
