body {
  background-color: #A5C4D4;
}

nav {
  overflow: hidden;
  background-color: #593F62;
}
li{
  display: block;
}

nav a {
  float:right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: #593F62;
}

nav a.active {
  background-color: #36151E;
  color: white;
}

h2 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;

}

h4{  font-size: 1.3em;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

title{text-align: center;

}

/* table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
font-size: 1.2em;
} */



p {
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
}

.y{
  font-size: 2.2em;
  color: white;
  margin-bottom: 20px;
}

header {
  background-color: #593F62;
   padding: 20px;
   text-align: center;
}

/* table {
  border: 4px solid #948473;
  background-color: #8499B1;
  width: 100%;
  text-align: center;
}
table td, table th {
  border: 0px solid #948473;
  padding: 4px 4px;
}
table tbody td {
  font-size: 13px;
}
table thead {
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #F0F0F0;
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table tfoot td {
  font-size: 16px;
} */

footer{
    position:fixed;
    bottom:0;
    right: 0;
}

table {
  border: 3px solid #555555;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 0px solid #555555;
  padding: 5px 9px;
}
table tbody td {
  font-size: 20px;
  font-weight: bold;
  color: #8499B1;
}
table thead {
  background: #593F62;
  border-bottom: 0px solid #398AA4;
}
table thead th {
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 0px solid #398AA4;
  height: 60px;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 13px;
}

a {
  color: #8499B1;
}
