body {
  background-color: #A5C4D4;
}

nav {
  overflow: hidden;
  background-color: #593F62;
}
li{
  display: block;
}

nav a {
  float:right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: #593F62;
}

nav a.active {
  background-color: #36151E;
  color: white;
}

h2 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;

}

h4{  font-size: 1.3em;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

title{text-align: center;

}

p {
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
}

.y{
  font-size: 2.2em;
  color: white;
  margin-bottom: 20px;
}

header {
  background-color: #593F62;
   padding: 20px;
   text-align: center;
}

footer{
    position:fixed;
    bottom:0;
    right: 0;
}

table {
  border: 3px solid #555555;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 0px solid #555555;
  padding: 5px 9px;
}
table tbody td {
  font-size: 20px;
  font-weight: bold;
  color: #8499B1;
}
table thead {
  background: #593F62;
  border-bottom: 0px solid #398AA4;
}
table thead th {
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 0px solid #398AA4;
  height: 60px;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 13px;
}

a {
  color: #8499B1;
}


.gar {
background-color: black;
}
.show {
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1.5px solid black;
  height: auto;
  width: 30%;
  text-align: center;
  margin: auto;
  background-color: lightgrey;
  margin-top: 20px;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.show p {
  color: black;
}
