
  body {
      background: #e8dc29;
      background-image: url(https://image.freepik.com/free-vector/book-store_23-2147516031.jpg);
      background-size: cover;
      background-position: 50% 9%;
      background-blend-mode: overlay;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

h1 {
  font-size: 1.8em;
  color: darkred;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.y
